.promo-section {
}

.promo-section__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.promo-section__col {
  max-width: 350px;
}

.promo-section__item-link-wrapper {
  display: block;
}
.promo-section__item {
  width: 350px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba($black, 0.1);
  border-radius: 6px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s linear;
  &:hover {
    box-shadow: 0 3px 25px rgba($black, 0.2);
  }
}

.promo-section__item--bg-img {
  background-image: url("../../img/hand.jpg");
  justify-content: flex-end;
  padding-bottom: 45px;
  .promo-section__item-subtitle {
    margin-bottom: 0;
    color: rgba(#fff, 0.3);
  }
  .promo-section__item-title {
    color: #fff;
  }
}
.promo-section__item-title {
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}
.promo-section__item-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #b3b3b3;
  line-height: 1;
  margin-bottom: 40px;
}

.promo-section__item-img-cell {
  width: 116px;
  margin-right: 25px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-section__item-title-cell {
  h4 {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
  }
}
.promo-section__item-small {
  flex-direction: row;
  padding: 20px;
  height: 150px;
}
.promo-section__item-link-wrapper--mb {
  margin-bottom: 30px;
}
